<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.DB2Dialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.ibm.db2.jcc.DB2Driver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:db2://vsisls4.informatik.uni-hamburg.de:50001/VSISP
        </property>
        <property name="hibernate.connection.username">
            vsisp16
        </property>
        <property name="hibernate.connection.password">
            qhK3CB3S
        </property>

        <!-- List of XML mapping files -->
        <mapping class="de.dis2011.data.EstateAgent"/>
        <mapping class="de.dis2011.data.Person"/>
        <mapping class="de.dis2011.data.Contract"/>
        <mapping class="de.dis2011.data.Estate"/>
        <mapping class="de.dis2011.data.Apartment"/>
        <mapping class="de.dis2011.data.House"/>
        <mapping class="de.dis2011.data.PurchaseContract"/>
        <mapping class="de.dis2011.data.TenancyContract"/>
    </session-factory>
</hibernate-configuration>